:root {
  --color-primary: #FFFFFF;
  --color-bg-main: #222831;
  --color-bg-card: #272E37;
  --color-secondary: #3F4958;
  --font-main: 'Montserrat';
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-main);
  color: var(--color-primary);
  font-family: var(--font-main), sans-serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
