:root {
  --color-background: #ffffff;
  --color-text: #222;
  --color-white: #fff;
  --color-primary: #008BFE;
  --color-primary-light: #CCE8FF;
  --font-main: 'Roboto';

  --shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15)
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html body {

  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-main), 'sans-serif';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

