:root {
  --color-background: #ffffff;
  --color-text: #222;
  --color-white: #fff;
  --color-primary: #008BFE;
  --color-primary-light: #CCE8FF;
  --font-main: 'Roboto';

  --shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15)
}


html body {

  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-main), 'sans-serif';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}
